
.home{
    min-height: 600px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.newsfeed{
    background-color: #6a7d7b;
        border:0.4px solid #A14B47;
        
}
.newsfeed h2{
    color: whitesmoke;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.friendList{
    width:440px;
    float: left;
}
.friendList h1{
    font-weight: 300;
    font-size: 20px;
    margin: 15px;
    font-family: noteworthy;
}
.userdisplay{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.userdisplay p{
    margin: 0px; 

    text-align: center;
}
.userdisplay a{
    
    text-decoration: none;
}
.searchDisplay{
    width:350px;
    position: relative;
    float: right;
    border-left: 1px dotted gray;
    margin-top: 5px;
}
.searchDisplay img{
    padding-left:3px;
    padding-top: 5px;
    margin-top: 20px;
}
.search{
    padding-top: 15px;
    padding-left: 15px;
}
.search p{
    margin: 0px;
    padding-top: 3px;
    margin-bottom: 5px;
}
.showResult{
    float: left;
    margin-left: 40px;
    width: 100%;
}
#link{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.myButton {
	-moz-box-shadow:inset 0px 0px 10px -1px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 10px -1px #91b8b3;
	box-shadow:inset 0px 0px 10px -1px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:11px 19px;
	text-decoration:none;
	text-shadow:-1px 0px 12px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
.displayResult{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.displayResult p{
    margin-left: 10px;
    font-size: 30px;
}
.displayResult a{
    text-decoration: none;
    font-size: 18px;
}
.displayResult img{
    margin-left: 10px;
}
.showResult h2{
    font-size: 40px;
}
#searchSubmit {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
#searchSubmit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
